
<h3>Services</h3>

<%= image_tag("Dizinir-Services1.png") %>

<!-- <canvas id="services_canvas" width="578" height="200" style="border: 1px solid #cccccc;">
    HTML5 Canvas not supported
</canvas> -->
