<h1>Home Page</h1>


<p>Welcome</p>
<!-- <table>
<% @homes.each do |home| %>
  <tr>
    <td><%= link_to 'Show', home %></td>
    <td><%= link_to 'Edit', edit_home_path(home) %></td>
    <td><%= link_to 'Destroy', home, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table> -->
<!-- 
<br />

<%= link_to 'New Home', new_home_path %> -->
