<h3>Portfolio</h3>



<nav id="filter"></nav>

    <section id="container">
        <ul id="stage">
            <li id="RDS_Link" data-tags="Web Development, Web Design,Web Management">
                <a class="port_link" onClick="RDS_onClick()" title="Roof Deck Services">
                    <img src="/assets/Port-Pictures/RDS.JPG" style="width: 300px; height: 150px;" alt="Illustration" />
                 </a> 
            </li>
            <!-- http://www.roofdeckservices.com -->
            <li id="R2L_Link" data-tags="Web Management">
                <a class="port_link" onClick="R2L_onClick()" title="Readers 2 Leaders">
                    <img src="/assets/Port-Pictures/R2L.JPG" style="width: 300px; height: 150px;" alt="Illustration" />
                </a>
                
            </li>
            <li id="Mintor_Link" data-tags="Web Development,Web Design,Logo Design,Web Management">
                <a class="port_link" onClick="Mintor_onClick()" title="Mintor">
                    <img src="/assets/Port-Pictures/Mintor.JPG" style="width: 300px; height: 150px;" alt="Illustration" />
                </a>
            </li>
            <li id="NFC_Link" data-tags="Logo Design, Web Development, Web Design,Web Management">
                <a class="port_link" onClick="NFC_onClick()" title="Nunley Family Cookbook">
                    <img src="/assets/Port-Pictures/NFC.JPG" style="width: 300px; height: 150px;" alt="Illustration" />
                </a>
            </li>
            <li id="TRS_Link" data-tags="Logo Design, Web Development, Web Design,Web Management">
                <a class="port_link" onClick="TRS_onClick()" title="Technical Roof Services">
                    <img src="/assets/Port-Pictures/TRS.JPG" style="width: 300px; height: 150px;" alt="Illustration" />
                </a>
            </li>

                
            <!--
            Original Example
            <li data-tags="Web Design,Logo Design">
            <img src="/assets/Port-Pictures/shots/3.jpg" alt="Illustration" />
        </li>

        -->
    </ul>
    </section>


<!-- *****************************
        ROOF DECK SERVICES
********************************** -->

<a id="RDS-Port" rel="lightbox-rds" href="/assets/Port-Pictures/RDS.JPG" title="<a href='http://www.roofdeckservices.com' target='_blank'>Roof Deck Services, Inc. </a> serves the commercial and residential roofing industries in the greater Dallas/Ft. Worth metroplex and surrounding areas. Roofing, re-roofing, repairs, waterproofing, skylights, consulting commercial roof deck repair and sales."></a>
<a rel="lightbox-rds" href="/assets/Port-Pictures/RDS-1.JPG" title="The 10 Most Beautiful New Homes in Dallas - <a href='http://www.dmagazine.com/Home/D_Home/2010/September_October/10_Most_Beautiful_Homes_in_Dallas_2010_1/10_Most_Beautiful_Homes_in_Dallas_2010_2.aspx' target='_blank'>D Home magazine Sept. 2010.</a> This section of the website shows the pictures of the many parts of the roofing industry that <a href='http://www.roofdeckservices.com' target='_blank'>Roof Deck Services, Inc. </a> is working."></a> 
<a rel="lightbox-rds" href="/assets/Port-Pictures/RDS-2.JPG" title="This shows the services page outlining the service offerings for <a href='http://www.roofdeckservices.com' target='_blank'>Roof Deck Services, Inc. </a>"></a> 

<!-- *****************************
        READERS 2 LEADERS
********************************** -->

<a id="R2L-Port" rel="lightbox-r2l" href="/assets/Port-Pictures/R2L.JPG" title="<a href='http://www.readers2leaders.org' target='_blank'>Readers 2 Leaders </a> is a registered 501(c)(3) non-profit organization whose mission is to train, equip, encourage and support families in West Dallas in developing and strengthening the reading and language skills of their children to help them to succeed in school, increase their self-confidence, learn to enjoy reading and become life-long readers, learners and community leaders."></a>
<a rel="lightbox-r2l" href="/assets/Port-Pictures/R2L-1.JPG" title="One of the programs at <a href='http://www.readers2leaders.org' target='_blank'>Readers 2 Leaders </a> designed to teach kids to learn."></a> 
<a rel="lightbox-r2l" href="/assets/Port-Pictures/R2L-2.JPG" title="This is the management side of the website using Joomla 1.5. Joomla is a content management system used to make managing websites more user friendly."></a>

<!-- *****************************
        TECHNICAL ROOF SERVICES
********************************** -->

<a id="TRS-Port" rel="lightbox-trs" href="/assets/Port-Pictures/TRS.JPG" title="<a href='http://www.technicalroof.com' target='_blank'>Technical Roof Services </a> operates primarily in North Texas and provides consulting services for the commercial and residential roofing industries which includes Roof Evaluations, Roof Repair Consulting, New Construction Consulting Insurance Claim Repairs, On-Site Inspections, General Contracting services and more."></a>
<a rel="lightbox-trs" href="/assets/Port-Pictures/TRS-1.JPG" title="This shows a roofing image in the <a href='http://www.technicalroof.com/Loadmaster.aspx' target='_blank'>Loadmaster</a> section of the website. The pictures popup to almost full screen images showing the detail of the roof work."></a> 
<a rel="lightbox-trs" href="/assets/Port-Pictures/TRS-2.JPG" title="This shows a list of some of the <a href='http://www.technicalroof.com/Projects.aspx' target='_blank'>projects</a> that <a href='http://www.technicalroof.com' target='_blank'>Technical Roof Services </a> has completed with full screen images."></a> 

<!-- *****************************
        NUNLEY FAMILY COOKBOOK
********************************** -->

<a id="NFC-Port" rel="lightbox-nfc" href="/assets/Port-Pictures/NFC.JPG" title="<a href='http://www.nunleyfamilycookbook.com' target='_blank'>Nunley Family Cookbook </a> is a website with recipes from family and favorites."></a>
<a rel="lightbox-nfc" href="/assets/Port-Pictures/NFC-1.JPG" title="This shows how the recipes are displayed and how the website works."></a> 
<a rel="lightbox-nfc" href="/assets/Port-Pictures/NFC-2.JPG" title="This section of the website is used by a few admins to add, delete, update and manage all recipes within the website."></a>  


<!-- *****************************
              MINTOR
********************************** -->

<a id="Mintor-Port" rel="lightbox-mintor" href="/assets/Port-Pictures/Mintor.JPG" title="<a href='http://www.mintor.co' target='_blank'>Mintor </a> is designed to prepare today's students to be tomorrow's professionals. The website has a custom e-commerce setup with a backend for users and administrators."></a>   
<a rel="lightbox-mintor" href="/assets/Port-Pictures/Mintor-1.JPG" title="This is the home page for users that are logged into Mintor. From here, a user can go to any of the features that users can take advantage of."></a> 
<a rel="lightbox-mintor" href="/assets/Port-Pictures/Mintor-2.JPG" title="This is the scheduling portal that is used to setup calls between the mentor and mentee."></a>  
<a rel="lightbox-mintor" href="/assets/Port-Pictures/Mintor-3.JPG" title="This shows a way for users to keep track of their college progress and number of achievements."></a> 
<a rel="lightbox-mintor" href="/assets/Port-Pictures/Mintor-4.JPG" title="This is the recruitment portal that shows how users can keep track of the opportunities and contacts."></a> 




<script type="text/javascript">
function RDS_onClick(){
    $("#RDS_Link").click(function() {
        $("#RDS-Port").click();
    });
}

function R2L_onClick(){
    $("#R2L_Link").click(function() {
        $("#R2L-Port").click();
    });
}

function TRS_onClick(){
    $("#TRS_Link").click(function() {
        $("#TRS-Port").click();
    });
}

function NFC_onClick(){
    $("#NFC_Link").click(function() {
        $("#NFC-Port").click();
    });
}

function Mintor_onClick(){
    $("#Mintor_Link").click(function() {
        $("#Mintor-Port").click();
    });
}
</script>