<section id="AboutWrapper">
<h3>About</h3>

<p class="AboutText">
Marshall attended Texas A&amp;M University from 2007-2011 and graduated with a Bachelor of Business Administration in Management Information Systems. He started work at KPMG in July 2011 as an Information Systems Auditor. 

Marshall has developed and designed multiple websites using ASP.NET C# and Ruby on Rails. <br />
<img src="/assets/AirCan.png" style="position: absolute; left:-510px; top:-150px" />
<img src="/assets/Lamp.png" style="position: absolute; left:500px; top:-200px" />
<br />
</p>	
</section>