<h3>Contact</h3>


<section id="contact-background-wrapper">
	<section id="contact-form-header-text">
		&nbsp;&nbsp;&nbsp;&nbsp;C:\Windows\Users\Marshall\Dizinir
	</section>		
	<section id="contact-background">
		<section id="contact-form-wrapper" class="">
			<section id="contact-form-wrapper-text">
				Dizinir contact form
			</section>
			<!-- <img id="paper" src="/assets/Paper2.png"/>
			<img id="typeWriter" src="/assets/Typewriter.png"/> -->
			<section id="contact-form">
		    <%= render :partial => 'contact/form'  %>
			</section>
		</section>
	</section>
</section>

<section id="contact-footer">
	<section class="footer-triangle">
	</section>
Phone: 214-878-7764
<br />
Email: dizinir@gmail.com
</section>

