// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$uniqueblue: #1C94C9;
$blue: #3bbfce;
$margin: 16px;
$SkillHighest: 120px;
/*$SkillsFont: 'Averia Sans Libre';*/
$SkillsFont: 'Special Elite', cursive;

