// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$uniqueblue: #1C94C9;
$blue: #3bbfce;
$margin: 16px;



/*#ContentWrapper{
	background-color: white;
	width: 1000px;
	margin: 0px auto;
	position: relative;
	border-left: 10px solid rgba(0,0,0, .3);
	border-right: 10px solid rgba(0,0,0, .3);
	box-shadow: 0px 0px 20px rgba(0,0,0, .5);
	/*border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}*/

/*#mainContent{
	width: 600px;
	margin: 0px auto 0px auto;
	padding: 10px;
	border-left: 20px solid rgba(0,0,0, .3);
	border-right: 20px solid rgba(0,0,0, .3);
}*/



/*#footer {
	font-size: 10px;
	width: 1000px;
	margin: auto;
	text-align: center;
	background-color: gray;
	height: 600px;
	box-shadow: 0px 0px 20px rgba(0,0,0, .5);
}*/

/*#leftMenu {
	left: 0;
	margin-right: -7px;
	height: 220px;
	top: 40%;
	width: 46px;
	background-color: #FFF;

	background-image: url("http://thecodeplayer.com/css/../images/feedback_trans_tab.png");
	background-image: url('/assets/MenuPanel.png');
	background-repeat: no-repeat;
	color: white;
	cursor: pointer;
	overflow: hidden;
	position: fixed;
	text-indent: -100000px;
	z-index: 100000;
}*/
/*#logoWrapper{
	text-align: center;

}

#logoWrapper a{
	height: 0px;
}

#logoWrapper a:hover{
	text-decoration: none;
	border: none;
}

#logoWrapper a:link{
	text-decoration: none;
	border: none;
}

#logoWrapper a:active{
	text-decoration: none;
	border: none;
}
*/


/*.user_form fieldset
{
  background-color: #efe;
}

.user_form legend
{
  color: #dfd;
  background-color: #141;
  font-family: sans-serif;
  padding: 0.2em 1em;
}
  
.user_form label
{
  width: 5em;
  float: left;
  text-align: right;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block;
}

.user_form select, .user_form textarea, .user_form input {
  margin-left: 0.5em;
}

.user_form .submit
{
  margin-left: 4em;
}

.user_form div {
  margin: 0.5em 0;
}

*/




/*
.logo:hover{
	top: -100px;
	box-shadow: 0px 20px 10px rgba(0,0,0,1);
	-webkit-transition: all 0.3s ease-out 0.5s;
   -moz-transition: all 0.3s ease-out 0.5s;
   -o-transition: all 0.3s ease-out 0.5s;
   -ms-transition: all 0.3s ease-out 0.5s;
   transition: all 0.3s ease-out 0.5s;
}

*/